@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* Base Styling */
:root {
  --foshia: #ed088c;
  --orange: #fec01e;
  --orange2: #f89834;
  --orange3: #f36c42;
  --mainBlue: #005699;
  --footerGrey: #f2f2f2;
  --textGrey: #666666;
  --maxwidth: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  position: relative;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* ======================================================
====================================================== */
/* <!-- ============== nav bar =============== --> */

#home {
  max-width: var(--maxwidth);
  margin: 0 auto;
  padding-top: 20px;
  justify-content: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  position: relative;
  align-self: center;
}
#menu {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
  z-index: 10;
  color: var(--textGrey);
}
.showmenu #men {
  left: 10%;
}
#men {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#men li {
  display: inline-block;
  margin-right: 10px;
  color: var(--textGrey);
}
.link {
  color: var(--textGrey);
  font-size: 15px;
  transition: all 0.5s;
  position: relative;
  transition: all 0.5s;
}
.link:hover {
  border-bottom: 4px solid var(--mainBlue);
  border-radius: 0;
}

/* ======================================================
==================== sign up ========================= */
.sing-up-contianer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  border-top: 3px solid black;
}
.sing-up-contianer h2 {
  margin-bottom: 40px;
}
.sing-up-contianer h4 {
  margin-bottom: 40px;
}
.sing-up-contianer p {
  font-size: 16px;
  color: gray;
  max-width: 400px;
}
.sing-up-btn {
  cursor: pointer;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  border: 1px solid black;
  position: relative;
  transition: all 0.6s;
}
.sing-up-btn::before {
  content: '';
  width: 118px;
  height: 6px;
  background-color: var(--orange2);
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
}
.sing-up-btn:hover::before {
  display: block;
}

/* ======================================================
==================== footer ========================= */

.footer-container {
  max-width: 1400px;
  width: 100%;
  margin: 20px auto;
}
.footer {
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 15px;
  padding: 10px 20px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.footer-col h4 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}
.footer-col ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
  font-size: 14px;
}
.footer-col ul li {
  margin-bottom: 10px;
}
.footer-col ul li a {
  color: #6d6767;
  line-height: 1.8;
}
.footer-col ul li a:hover {
  text-decoration: underline;
}

/* ======================================================
===================== follow us ===================== */
.follow-us {
  max-width: var(--maxwidth);
  margin: 50px auto;
  display: flex;
  align-items: center;
}
.follow-tex {
  margin-left: 50px;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.social-links i {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}
/* ======================================================
===================== signature ===================== */

.signature {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr 1fr;
  border-top: 3px solid black;
}
.dontate-div {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 0;
}
.dontate-div a {
  width: fit-content;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.dontate-div a:nth-child(1) {
  background-color: var(--orange);
}
.dontate-div a:nth-child(2) {
  background-color: var(--orange2);
}
.dontate-div a:nth-child(3) {
  background-color: var(--orange3);
}
.dontate-div a:hover {
  color: white;
  background-color: black;
}

.slogan-div {
  display: flex;
  align-items: center;
}
.logo-div img {
  max-width: 80px;
  height: auto;
  object-fit: cover;
}
.slogan-text {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 10px;
  color: var(--textGrey);
}

/* ======================================================
====================================================== */
/* Media Queries */

@media only screen and (max-width: 768px) {
  /* ======================================================
    ====================== navbar ======================== */

  #menu {
    display: block;
  }

  #home {
    width: 100%;
    padding-top: 10px;
  }

  nav {
    flex-direction: column;
  }
  #men {
    background-color: white;
    color: var(--textGrey);
    width: 80%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    top: -70px;
    left: -100%;
    transition: all 0.5s;
    padding-bottom: 20px;
  }
  #men li {
    display: inline-block;
    margin-top: 10px;
  }
  #men li a {
    font-weight: 400;
  }
  /* ================== follow us =========== */
  .follow-us {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-left: 20px;
  }
  .follow-tex {
    margin: 0;
  }

  /* ================== singatur =========== */
  .signature {
    grid-template-columns: 1fr 2fr;
  }
}
/* ======================================================= */
/* ======================================================= */
@media only screen and (max-width: 500px) {
  /* ================== follow us =========== */
  .follow-us {
    width: 93%;
    padding-top: 10px;
    border-top: 1px solid rgb(201, 193, 193);
  }

  /* ================== singatur =========== */
  .signature {
    grid-template-columns: 1fr;
  }
}
